.card {
    background: lightgrey;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
}

.card.alt {
    background: royalblue;
}

.card.full-width {
    display: block;
}

.card.left-tail {}

.card.right-tail {}