.card {
    display: block;
}

.content:after {
    display: block;
    content: ' ';
    clear: both;
}

.card > .content {
    background: lightgrey;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
}

.card.full-width > .content {
    display: block;
}

.card.alt > .content {
    background: royalblue;
    color: rgba(256,256,256, 0.8)
}

.card.right > .content {
    float: right;
}